{% extends "components/sidenav.component.html" %}
{% load static %}

{% block title %}Dashboard | Cluster IQ Admin{% endblock %}

{% block content %}
    {% block main_content %}
        <div class="container-fluid py-4">
            <div class="container">
                <div class="d-flex flex-sm-row flex-column justify-content-between mb-4">
                    <h3 class="fw-semibold text-primary">Dashboard</h3>
                    {% include 'components/filters/filter_months.component.html' %}
                </div>
                <hr>

                <!-- Analytics Section -->
                <div class="row g-4">
                    <div class="col-md-4">
                        {% include 'components/cards/card_analytics.component.html' with header="Total Responses" data="300" %}
                    </div>
                    <div class="col-md-4">
                        {% include 'components/cards/card_analytics.component.html' with header="Average Spending" data="₱32,000" %}
                    </div>
                    <div class="col-md-4">
                        {% include 'components/cards/card_analytics.component.html' with header="Weekly Purchases" data="12" %}
                    </div>
                </div>

                <!-- Charts Section -->
                <div class="mt-5">
                    <h5 class="text-muted fw-semibold">Insights</h5>
                    <div class="row">
                        <div class="col-md-4 col-12 my-2">
                            {% include 'components/charts/chart_base.component.html' with title="Age Group Distribution" chartType="pie" chartId="ageGroup" data=age_group %}
                        </div>
                        <div class="col-md-4 col-12 my-2">
                            {% include 'components/charts/chart_base.component.html' with title="Monthly Spending Distribution" chartType="polarArea" chartId="monthlySpend" data=monthly_spending %}
                        </div>
                        <div class="col-md-4 col-12 my-2">
                            {% include 'components/charts/chart_base.component.html' with title="Shopping Frequency" chartType="doughnut" chartId="shoppingFrequency" data=shopping_frequency %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const currentDate = new Date();
            const currentYear = currentDate.getFullYear();
            const currentMonth = String(currentDate.getMonth() + 1).padStart(2, '0');
            const currentUrl = new URL(window.location.href);

            if (!currentUrl.searchParams.has('month')) {
                const formattedValue = `${currentMonth}-${currentYear}`;
                currentUrl.searchParams.set('month', formattedValue);
                window.location.href = currentUrl.toString();
            }
        });
    </script>
{% endblock %}
