{% extends "components/sidenav.component.html" %}
{% load static %}

{% block title %}Geographic | Cluster IQ Admin{% endblock %}

{% block content %}
    {% block main_content %}
        <div class="container-fluid py-4">
            <div class="container">
                <div class="d-flex flex-md-row flex-column justify-content-between mb-4">
                    <h3 class="fw-semibold text-primary mt-2">
                        {% if request.GET.barangay %}
                            Barangay
                        {% else %}
                            Overall
                        {% endif %}
                        Profile</h3>
                    <div class="d-flex flex-row justify-content-center my-2">
                        {% include 'components/filters/filter_months.component.html' %}
                    </div>
                </div>
                <hr>
                <div class="container-fluid p-0">
                    {% include 'components/map/map_base.component.html' %}
                    {% if request.GET.barangay %}
                        {% include 'pages/sections/barangay_profile.page.html' %}
                    {% else %}
                        {% include 'pages/sections/overall_profile.page.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}