.custom-dropdown {
  background-color: $bg-white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 0.875rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  &:focus {
    border-color: #0056b3;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
  }

  option {
    font-size: 0.875rem;
  }
}

label {
  font-weight: 500;
  color: #495057;
}

@media (max-width: $screen-mobile-lg) {
  .custom-dropdown {
    font-size: 0.875rem;
    padding: 5px 10px;
  }
}
