<select id="ageGroupFilter" class="form-select custom-dropdown form-select-md">
    <option value="">Select Age Group</option>
    <option value="Below 18 years old">Below 18 years old</option>
    <option value="18 - 24 years old">18 - 24 years old</option>
    <option value="25 - 34 years old">25 - 34 years old</option>
    <option value="35 - 44 years old">35 - 44 years old</option>
    <option value="45 - 54 years old">45 - 54 years old</option>
    <option value="55 years and above">55 years and above+</option>
</select>

<script>
    const params = new URLSearchParams(window.location.search);
    const ageGroupFilter = document.getElementById('ageGroupFilter');

    if (params.has('age_group')) {
        ageGroupFilter.value = params.get('age_group');
    }

    ageGroupFilter.addEventListener('change', function() {
        updateUrlParam('age_group', this.value);
    });

    function updateUrlParam(key, value) {
        const currentUrl = new URL(window.location.href);
        if (value) {
            currentUrl.searchParams.set(key, value);
        } else {
            currentUrl.searchParams.delete(key);
        }
        window.location.href = currentUrl.toString();
    }
</script>
