@import 'variables/_colors.scss';
@import 'variables/_typography.scss';
@import 'variables/_breakpoints.scss';

@import 'helpers/_tools.scss';

@import 'components/_navigation.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}